<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(|){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(|){faint} %clr(%class{0}){cyan} %clr(|){faint} %clr(%method | Line:%L){magenta} %clr(|){faint} %m | %clr(%X{correlationId}){yellow} | %clr(%X{topicId}){blue} | %clr(%thread){red}%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="Console">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${LOG_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${LOG_PATTERN}
            </Pattern>
        </encoder>
        <file>${LOG_PATH}/log.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archived/log_%d{dd-MM-yyyy}.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <logger additivity="false" level="trace" name="com.ef">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Log everything at the TRACE level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>